WORDPRESS_ENV=dev
DB_HOST=db
DB_NAME=db
DB_USER=db
DB_PASSWORD=db
WP_HOME=https://sympress-demo.dev
WP_SITEURL=${WP_HOME}
WP_ADMIN_USERNAME=admin
WP_ADMIN_PASSWORD=admin
WP_ALLOW_MULTISITE=false
MULTISITE=false
SUBDOMAIN_INSTALL=false
