### IDE
/.idea/

### Composer
/vendor/
/auth.json
/.npmrc

### WordPress / WP Starter
/.env
/.env.*
!/.env.example
/.env.cached.php
/public/wp/
/public/wp-content/
/public/wp-config.php
/wp-cli.yml

### Runtime
/var/
/.ddev/homeadditions/.ssh/
!/var/cache/
!/var/cache/.gitkeep
!/var/log/
!/var/log/.gitkeep
/packages/*/vendor/
/packages/*/node_modules/
/packages/*/.phpunit.cache/
/packages/*/.phpunit-cache/
/packages/*/.pgpunit-cache/
/packages/*/playwright-report/
/packages/*/test-results/
/packages/*/var/cache/*
/packages/*/var/log/*
!/packages/*/var/cache/.gitkeep
!/packages/*/var/log/.gitkeep

### System
.DS_Store
